body {
    margin: 0;
}

header {
    position: absolute;
    height: 13vh;
    width: 100vw;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

#title{
    vertical-align: middle;
    text-align: center;
    line-height: 13vh;
    width: 20vw;
    font-size: 35px;
}


.phrases{
    position: absolute;
    color: white;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Shadows Into Light';
    font-size: 18px;
}

#a {
    top: 30vh;
    left: 10vw;
    text-align: center;
}

#b{
    top: 80vh;
    left: 20vw;
    text-align: center;
}

#c {
    top: 40vh;
    left: 10vw;
    text-align: center;
}

#d{
    top: 45vh;
    left: 10vw;
    text-align: center;
}

#e{
    top: 50vh;
    left: 10vw;
    text-align: center;
}

#f{
    top: 20vh;
    right: 15vw;
    text-align: center;
}

#g{
    top: 75vh;
    right: 5vw;
    text-align: center;
}

#h{
    top: 57vh;
    left: 10vw;
    text-align: center;
}

#i{
    top: 50vh;
    right: 13vw;
    text-align: center;
}